:root {
  --primary-fg: #c1bdb3;
  --accent-fg: #5f5b6b;
  --primary-bg: #141414;
  --secondary-bg: #19191a;
  --accent-bg: #030503;
  --text-color: #eeebd0;
}

body {
  margin: 0;
  background-color: var(--accent-bg);
  color: var(--text-color);
}
